.main-heading h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #0e2da5;
    margin-bottom: 0px;
    padding-top: 100px;
    font-weight: 500;
}

.mainbox {
    min-height: 100vh;
}

.small {
    text-transform: initial !important;
}

.frm h2 {
    color: #0e2da5 !important;
    margin-top: 100px;
}