.nav-item .active {
  background-color: #fff !important;
  color: #727cf6 !important;
}
.nav-item {
  margin-left: 15px;
}
.nav-item a {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px;
  color: #fff;
  text-transform: capitalize;
}
.nav-item a:hover {
  background-color: #fff !important;
  color: #727cf6 !important;
}
.sidenavbar {
  background-color: #727cf6;
  position: fixed !important;
  height: 100vh;
}
