.tblbtn {
    text-align: right;
}

.venuetbl {
    margin-bottom: 40px;
}

.tbl {
    box-shadow: 10px 6px 6px #ddd;
    border: 1px solid #ddd;
}

.tbl thead {
    background: #727cf6;
    color: #fff;
    font-size: 16px;
}

.tbl tbody {
    font-size: 14px;
    color: #555;
}

.tbl tbody a {
    color: #727cf6;
    padding: 0px 10px;
}

.frm {
    box-shadow: 10px 6px 6px #ddd;
    border: 1px solid #ddd;
    padding: 50px;
}

.frm label {
    font-size: 16px;
    font-weight: 600;
    color: #727cf6;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.frm input,
textarea {
    border: 1px solid #ddd !important;
    background: #fcfcfc !important;
    font-size: 14px !important;
    padding: 15px !important;
    text-transform: capitalize;
}

.frm input:focus {
    box-shadow: none !important;
}

.frm div {
    margin: 20px 0px;
}

.frm h2 {
    font-size: 23px;
    font-weight: 600;
    color: #727cf6;
    text-transform: capitalize;
}

.frm button {
    background-color: #727cf6;
    color: #fff;
    font-size: 18px;
    margin: auto;
    text-transform: capitalize;
}

.frm button:hover {
    color: #fff;
}

.add {
    text-align: right;
    margin-bottom: 10px;
}

.add a {
    padding: 10px 0px;
    font-size: 16px;
    color: #727cf6;
    text-transform: capitalize;
}

.table thead th {
    text-transform: capitalize;
}
#venue {
    display: none;
}