.sl-3 select {
    padding: 8px !important;
    font-size: 14px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    color: #495057;
    border-radius: 5px;
    height: 40px;
}

.sl-3 label {
    padding-left: 0px;
}

.select label {
    padding-left: 0px;
}

.sl-3 select:focus {
    box-shadow: none !important;
}

input[type="checkbox"] {
    padding: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* #product {
    display: none;
} */