.datehide {
    display: none;
}

.adminlogin {
    margin: auto;
    background-color: #f1f4ff;
    border-radius: 5px;
}

.main {
    margin-top: 0px;
}

.admin {
    position: relative;
    height: 100vh
}

.adminlogin .logo {
    background-color: #0e2da5;
    text-align: center;
    margin: 0px;
    border-radius: 5px;
}

.adminlogin .logo h1 {
    font-size: 25px !important;
    color: #fff;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.logheading {
    text-align: center;
}

.logheading h4 {
    font-size: 20px;
    text-transform: capitalize;
    color: #767272;
    font-weight: bold;
    padding-top: 20px;
}

.logheading p {
    font-size: 12px;
    padding: 5px 50px;
    color: #0e2da5;
}

.adminlogin label {
    text-transform: capitalize;
    font-size: 14px;
    color: #737d87;
    font-weight: 600;
}

.adminlogin input {
    font-size: 12px !important;
    border: 1px solid #acacad !important;
    margin-top: 10px;
    color: #acacad;
    padding: 20px 10px !important;
}

.adminlogin input:focus {
    box-shadow: none;
}

.adminlogin button {
    background-color: #0e2da5;
    color: #fff;
    font-size: 18px;
    margin: auto;
    text-transform: capitalize;
}

.adminlogin button:hover {
    color: #fff;
}

.adminlogin button:focus {
    box-shadow: none;
}

.adminlogin a {
    text-transform: capitalize;
    font-size: 14px;
    color: #737d87;
    font-weight: 600;
}

.adminlogin a:hover {
    color: #737d87;
}

.adminlogin .forgot {
    text-align: center;
    margin: 20px 0px;
}

.circle {
    position: absolute;
    height: 620px;
    background-color: #e4edfe;
    top: 5px;
    width: 620px;
    /* margin: auto; */
    bottom: 0;
    left: 350px;
    right: 0;
    border-radius: 100%;
}